<!--The content below is only a placeholder and can be replaced.-->
<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Angular 7 Http Tutorial
      </h1>
      <h2 class="subtitle">
        A tutorial on angular 7 http web services.
      </h2>
    </div>
  </div>
</section>

<div>
  <p>&nbsp;</p>
</div>
<div class="tabs is-centered is-boxed is-medium">
  <ul>
    <li class="is-active"><a>Users List</a></li>
    <li><a>Resource List</a></li>
    <li><a>Register</a></li>
    <li><a>Login</a></li>
  </ul>
</div>

<router-outlet></router-outlet>
