<!--The content below is only a placeholder and can be replaced.-->
<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Angular 7 Http Tutorial
      </h1>
      <h2 class="subtitle">
        A tutorial on angular 7 http web services.
      </h2>
    </div>
  </div>
</section>

<div>
  <p>&nbsp;</p>
</div>
<div class="tabs is-centered is-boxed is-medium">
  <ul>
      <!-- class="is-active" -->
    <li [class.is-active]="currentUrl=='/'">
      <a [routerLink]="[ '/' ]" routerLinkActive="currentUrl!='/'">Users List</a></li>
    <li [class.is-active]="currentUrl=='/resources'">
      <a [routerLink]="[ '/resources' ]" routerLinkActive="currentUrl!='/resources'">Resource List</a>
    </li>
    <li><a href="">Register</a></li>
    <li><a>Login</a></li>
  </ul>
</div>

<router-outlet></router-outlet>
